h1 {
    text-align: center;
    color: white;
    background-color: darkslategrey;
    padding: 20px;
}

button {
    margin: 2px;
    padding: 5px;
}

.location-forecast {
    font-size: 15px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.locationBtn {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.locationBtn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#five-day {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.blue-box {
    color: white;
    background-color: blue;
    font-weight: bold;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    flex: content;
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.uvStyling {
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

#location {
    font-size: 20px;
    font-weight: bold;
}